body{
    background-color:green;
}


#card-front{
  margin: 20px;
  width: 100%;
  height: 200px;
  list-style: none;
  position: relative;
}
#card-front li {
  margin: 10px;
  width: 150px;
  height: 200px;
  float: left;
  position: relative;
}
#card-front li img {
  position: absolute;
}
#card-front li.off, #card-front li.lock {
  pointer-events : none;
}


#card-back{
    margin: 20px;
    width: 100%;
    height: 200px;
    list-style: none;
    position: absolute;top:-0.5px;left: -0.5px;
  }
  #card-back li {
    margin: 10px;
    width: 150px;
    height: 200px;
    float: left;
    position: relative;
  }
  #card-back li img {
    position: absolute;
  }
  #card-back li.off, #card-back li.lock {
    pointer-events : none;
  }